*.o
*.gch
a.out

src/dfa_to_gf
src/dfa_for_single_pattern
src/dfa_intersection
src/DFA_minimizer

.deps

Makefile.in
Makefile
configure
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/depcomp
/install-sh
/missing
